{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card mx-auto" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title mb-3">Reject Delivery</h5>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Purchaser</label>
                        <input type="input" value="{{ obj.sender }}" class="form-control" id="inputPassword4" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label">Reason for Rejection</label>
                        <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger">Reject</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
