{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card mx-auto" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title mb-3">Add Product</h5>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-3">
                        <label for="{{ form.brand_name.id_for_label }}" class="form-label">Brand Name</label>
                        {{ form.brand_name|add_class:"form-control" }}
                        {% if form.brand_name.errors %}
                            <div class="invalid-feedback">{{ form.brand_name.errors.0 }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.stock.id_for_label }}" class="form-label">Stock</label>
                        {{ form.stock|add_class:"form-control" }}
                        {% if form.stock.errors %}
                            <div class="invalid-feedback">{{ form.stock.errors.0 }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
